@import "tailwindcss";

@layer base {
    :root {
        font-family: 'Lexend', Times, serif;
        background-color: oklch(98.5% 0.001 106.423);
        user-select: none;
    }
}

@layer utilities {
    
}