@import "tailwindcss";

@layer base {
    :root {
        font-family: 'Lexend', Times, serif;
        background-color: oklch(98.5% 0.001 106.423);
        user-select: none;
        scrollbar-gutter: stable;
    }
}

@layer utilities {
    
    .fade-in {
        animation: fade-in 1s ease-in-out forwards;
    }

}

@keyframes fade-in {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}